.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  

  .buton11{

  
  }
  .lili{

  }
  p{
    font-size:50px;
    color: rgb(238, 255, 4);
    background-color: black;
  }

  /* Добавьте стили для кнопок и других элементов */
  